@model EStudy.Application.ViewModels.Auth.ConfirmViewModel

@{
    ViewData["Title"] = "- Підтвердження успішне";
}

<div class="jumbotron">
    <h2 class="text-center">
        Аккаунт успішно підтверджено
    </h2>
    <p>@Url.ActionLink("Login", "Identity")</p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
