@model EStudy.Application.ViewModels.Auth.ConfirmViewModel

@{
    ViewData["Title"] = "- Підтвердження акаунту";
}

<hr />
<div class="jumbotron">
    <div class="col-md-4">
        <form asp-action="Confirm" asp-controller="Home" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Code" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="GroupCode" class="control-label"></label>
                <input asp-for="GroupCode" class="form-control" />
                <span class="text-danger">Якщо ви викладач, то у поле введіть "11111111111"</span>
                <span asp-validation-for="GroupCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
