@model EStudy.Application.ViewModels.Auth.ConfirmViewModel

@{
    ViewData["Title"] = "- Підтвердження успішне";
}
<h2 class="text-center">
    Аккаунт успішно підтверджено
</h2>
<p>@Url.ActionLink("Login", "Identity")</p>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
