@model EStudy.Application.ViewModels.Department.DepartmentEditModel

@{
    ViewData["Title"] = "- Редагування інституту";
}
<div class="jumbotron">
    <div class="col-md-4">
        <form asp-action="EditDepartment" asp-controller="Department" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shifr" class="control-label"></label>
                <input asp-for="Shifr" class="form-control" />
                <span asp-validation-for="Shifr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadById" class="control-label"></label>
                <input asp-for="HeadById" class="form-control" />
                <span asp-validation-for="HeadById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactInformation" class="control-label"></label>
                <input asp-for="ContactInformation" class="form-control" />
                <span asp-validation-for="ContactInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllDepartments">Повернутися до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
